<%= image_tag @portfolio_items.main_image %>

<h1><%= @portfolio_items.title %></h1>

<em><h1><%= @portfolio_items.subtitle %></h1></em>

<p><h1><%= @portfolio_items.body %></h1></p>

<h2>Technologies used:</h2>

<% @portfolio_items.technologies.each do |t| %>
<p> <%= t.name %> </p>

<% end %>